body {
  color: white;
}
.hero_container {
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: 12rem auto 15rem;
  background: linear-gradient(0deg, #1C1C1C, #1C1C1C);
  color: white;
  border-radius: 16px;
}

/* aside left starts here */

.aside-left {
  padding: 5px 0;
  white-space: nowrap;
  color: white;
  border-right: 1px solid #E5E5E5;
}


.log {
  font-size: 14px;
  word-spacing: 10px;
  padding: 2px, 4px, 2px, 4px;
  border-radius: 5px;
  gap: 8px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 5px;
}

.logo {
  margin-top:3px;
  margin-left: 15px;
  width: 24px;
  height: 24px;
}

.byewinds {
  position: absolute;
  margin-top: 9px;
  margin-left: 5px;
  color: #FFFFFF;
  line-height: 20px;
}

.log:hover {
  transition-delay: .2s;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  background: #0000000D;
}

.favour {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  gap: 4px;
  margin-top: 15px;
  margin-left: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.favour span {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.2);
}

.hero_container li{
  margin-left: 35px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  line-height: 20px;
  list-style: disc;
}

.hero_container a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Dashboard */
.hero_container .dashboard {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px ;
}

.hero_container .dashboard-container ul li{
  list-style-type: none;
  margin-left: 1px;
  color: #FFFFFF;
}

.hero_container .dashboard-container span {
  margin-right: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.hero_container .page-images {
  line-height: 20px;
  margin-bottom: -4px;
}

.hero_container h5 {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.hero_container h6 {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-top: 4px;
}

.dashboard-container ul li:hover {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  background: rgba(0, 0, 0, 0.05); 
}

/* pages */
.pages2 {
  margin-left: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.pages2 li  {
  font-size: 12px;
  list-style-type: none;
  width: 120px;
  margin-left: 30px;
}

.pages2 li:hover {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  background: rgba(0, 0, 0, 0.05);
}

.hero_container .snow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  margin-top: 260px;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 24.67%);
}
.hero_container .snows {
  margin-top: 4px;
  font-size: 12px;
  margin-left: 5px;
}

/* header */
nav {
  display: flex;
  align-items: center;
  gap: 15rem;
  height: 10vh;
  border-bottom: 1px solid #E5E5E5;
}

.first-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 27px;
}

.second-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero_container header img {
  width: 22px;
  height: 16px;
  margin-left: 0;
} 

.hero_container .dash {
  color: rgba(255, 255, 255, 0.4);
  word-spacing: 10px;
  margin-right: 44px;
  font-size: 12px;
}

.hero_container  .dash span {
  color: rgba(255, 255, 255, 0.2);
}

.hero_container .search {
  color: rgba(255, 255, 255, 0.4);
  font-size: 9px;
  gap: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px ;
  border: none;
  padding-top: 5px;
  padding-left: 19px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 10px;
} 

nav .icon {
  width: 10px;
  position: absolute;
  margin-left: 15px;
}


.button {
  margin-left: 0px;
}

/* main */

.hero_container .middle-container {
  display: grid;
  color: rgba(28, 28, 28, 1);
  margin-left: 20px;
  gap: 15px;
  margin-right: 17px;
  word-spacing: 3px;
  margin-top: 15px;
  grid-template-areas: 
  "view visits new active" 
  ;
}

.hero_container .view {
  border-radius: 16px;
  padding-left: 10px;
  grid-area: view;
  background: #E3F5FF;
}

.hero_container .visits {
  border-radius: 16px;
  grid-area: visits;
  padding-left: 10px;
  background: rgba(229, 236, 246, 1);
}

.hero_container .new {
  border-radius: 16px;
  grid-area: new;
  padding-left: 10px;
  background: rgba(227, 245, 255, 1);
}

.hero_container .active {
  border-radius: 16px;
  grid-area: active;
  background: rgba(229, 236, 246, 1); 
  padding-left: 10px;  
} 

.hero_container h4 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 30px;
  gap: 4px;
  margin-left: 23px;
  color: #FFFFFF;
}

.hero_container .t-image {
  margin-left: 4px;
}

.hero_container h2 {
  margin-left: 11px;
  margin-top: 5px; 
  line-height: 36px;
  font-size: 20px;
  padding-bottom: 15px;
}

.hero_container h2 span {
  font-size: 12px;
  border-radius: 4px;
  position: absolute;
  margin-left: 30px;
  font-weight: 400;
}

.hero_container .middle-container span {
  font-size: 12px;
}

.hero_container .mid {
  display: flex;
  font-size: 10px;
  line-height: 18px;
  padding-left: 10px;
  font-weight: 600;
  padding-left: 10px;
  font-weight: 600;
  
}

.hero_container .arrowrise {
  margin-top: -14px; 
  margin-left: 0;
}

/* graph */
.hero_container .graph {
  margin: 4px;
  display: flex;
  margin-top: 18px;
  border-radius: 16px;
  margin-left: 0;
  color: rgba(255, 255, 255, 0.1);
}

.hero_container .graph-icon {
  padding: 5px;
  padding-top: 2px;
  width: 580px;
  margin-right: 10px;
  margin-left: 5px;
  height: 320px;
  
}

.hero_container .traffic{
  padding: 5px;
  border-radius: 10px;
  margin-left: 7px;
  background: rgba(255, 255, 255, 0.05);
  font-size: 14px;
  line-height: 20px;
  width: 210px;
  margin-top: 18px;
  height: 50vh;
}

.hero_container h3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}

.hero_container .google {
  margin-right: 10px;
  line-height: 17px;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
  color: rgba(255, 255, 255, 1);
}

.hero_container .google .line1 {
  position: absolute;
  height: 6px;
  width: 81px;
  margin-left: 29px;
  margin-top: 7px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 4px 4px 0px;
}

.hero_container .google .line2 {
  position: absolute;
  height: 6px;
  width: 46px;
  margin-left: 25px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px;
}

.hero_container .google .line3 {
  position: absolute;
  height: 6px;
  width: 60px;
  margin-left: 15px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(198, 199, 248, 1);
  border: 1px;
}

.hero_container .google .line4 {
  position: absolute;
  height: 6px;
  width: 36px;
  margin-left: 20px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px;
}

.hero_container .google .line5 {
  position: absolute;
  height: 6px;
  width: 66px;
  margin-left: 15px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.1);
}

.hero_container .google .line6 {
  position: absolute;
  height: 6px;
  width: 42px;
  margin-left: 32px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.1);
}

.hero_container .google .line7 {
  position: absolute;
  height: 6px;
  width: 60px;
  margin-left: 31px;
  margin-top: 6px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.1);
}

/* device */

.device {
  display: flex;
  margin-top: 10px;
  margin-left: 12px;
  gap: 10px;
}

.bar {
  width: 385px;
  margin-left: 10px;
}

.pie {
  width: 385px;
  margin-left: 10px;
}

.pie-block,
.bar-block,
.graph-log,
.traff {
  display: none;
}

.hero_container .marketing {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.05);
  text-align: left;
  margin-left: 20px;
  padding: 5px;
  width: 789px;
  margin-right: 15px;
  border-radius: 16px 16px 0 0;
}

.hero_container .market {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 20px;
}

.hero_container .mil {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 20px;
  padding: 8px;
}

.line {
  position: absolute;
  height: 1px;
  width: 54%;
  margin-left: 10px;
  margin-top: 14px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);

}

.copyright {
  display: none;
}

/* aside right */

.aside-container { 
  border-left: 1px  solid #E5E5E5;
} 

.notifications {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  gap: 14px;
}

.content{
  display: flex; 
  gap: 4px;
  flex: 1;
  padding-left: 10px;
  align-items: center;
}

.act {
  font-weight: 600;
  margin-top: 20px;
  padding-left: 10px;
  color: rgba(28, 28, 28, 1);
}

.hero_container .bug {
  margin-top: 1px; 
  font-size: 14px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 1);
}
.hero_container .time {
  padding-left: 10px;
  font-size: 10px;
  display: block;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.4);
}


/* Media queries for smaller screens */
@media only screen and (max-width: 720px) {
  .hero_container {
    display: none;
  }
  .main_container {
    grid-template-columns: auto;
    margin: 0;
    padding: 0;
  }

  .overall_container {
    width: 100%;
  }

  .aside-left,
  .pie,
  .second-container,
  .graph-icon,
  .traffic,
  .marketing,
  .aside-right{
    display: none;
  }
  
  .middle-container{
    display: block;
    width: 240px;
    margin-left: 30px;
  }

  .visits,
  .view, 
  .new,
  .active {
    padding: 10px;
    margin-bottom: 10px;
  }

  .graph,
  .device {
    display: block;
  }

  .bar {
    width: 240px;
    margin-left: 20px;
    margin-bottom: 10px
  }

  .pie-block {
   display: block; 
   width: 240px;
   margin-left: 20px;
   margin-bottom: 10px;
  }
  
  .graph-log {
    display: block;
    width: 240px;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .copyright {
    margin-left: 25px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    width: 80%;
    gap: 10px;
  }

  .traff {
    display: block;
  }
  
  .traffic-user {
    display: block;
    width: 240px;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .anchor a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  header {
    width: 70%;
  }

  .first-container {
    width: 349px;
  }

  h4 {
      margin-left: 40px;
  }
}  


